<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <link rel="stylesheet" href="/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Darker+Grotesque:500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet">
  <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <script src="/scripts.js" charset="utf-8"></script>
  <meta charset="utf-8">
  <title>independent project 9</title>
</head>
<body>

    <h1>Word Monster</h1>

  <%=yield%>

  <h5>Nom Nom Nom</h5>


</body>
</html>
