<h3> Feed me a word! </h3>
<form class="" action="/" method="post">
  <label for="">Your Word</label>
  <input type="text" name="user_word" value="">
  <br>
  <br>
  <label for="">Your Definition</label>
  <input type="text" name="user_definition" value="">
  <br>
  <br>

  <button type="submit" name="button" value="hello">Submit</button>
</form>
