body {
  background-image: url(https://i.pinimg.com/originals/ea/a1/88/eaa188c45401f7ad5af873ba272065da.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  text-align: center;
  color: black;
  text-shadow: 6px 6px 10px white;
}
h5 {
  float: bottom;
}
.post {
  background-color: white;
  width: 300px;
  border: 5px solid lightblue;
  padding: 50px;
  margin: 20px;
  text-align: center;
  position: fixed;
  top: 30%;
  left: 48.5%;
  transform: translate(-50%, -50%);
}
